.post-container {
  margin-top: 32px;

  header {
    margin-bottom: 16px;
    .post-date {
      font-size: 14px;
      color: #a8a8a8;
    }
  }

  .footnotes {
    margin: 3rem 0;

    hr {
      margin-bottom: 2rem;
    }

    .footnote-back {
      margin-left: 0.5rem;
    }
  }

  .content {
    margin: 2em 0;

    line-height: 1.4em;

    * {
      max-width: 32em;
      width: 100%;
    }
    
    h1, h2, h3 {
      margin: 1em 0;
      line-height: 1.5em;
    }

    P {
      margin-bottom: 0.5em;
    }

    ul {
      list-style-type: none;
      margin-left: 18px;

      & > li::before {
        content: "–"; /* en dash here */
        position: absolute;
        margin-left: -1.1em;
      }
    }
  }

  .back-link {
    margin: 16px 0 24px 0;
  }

  // Select all text wrapped in `` in markdown - generated a `code` tag without a language class
  code:not([class*="language-"]) {
    padding: 0.2em;
    padding-top: 1px;
    padding-bottom: 1px;
    background: #f8f8f8;
    border: 1px solid #dddddd;
  }
}
